desktop-widget/config.json
desktop-widget/build/
desktop-widget/dist/
desktop-widget/*.spec
__pycache__/
*.pyc
.DS_Store
desktop-widget-electron/config.json
desktop-widget-electron/config.template.json
desktop-widget-electron/node_modules/
desktop-widget-electron/dist/
